
.icon-forward:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-volume-up:before { content: '\e802'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */