ol {
	list-style-type:none;
	padding:0;
	margin:0;
	width:200px;
	background-color:#FFFFFF;
	font-size:17px;
	height:2em;
	line-height:2em;
	text-align:center;

}

ol a {
	display:block;
	text-decoration:none;
	color:#000000;
	padding:0 5px;
}

  ol > li {
	float:left;
	width:200px;
	background-color:#FFFFFF;
	height:2em;
  }

  ol > li:first-child {
	margin-left:0;
  }


  ol > li:hover {
	background-color:#FFFFFF;
	width:200px;
  }

  ol > li:hover > a {
	color: #000000;
	background-color: #aacfe2;
  }

  ol > li:hover > ul {
	display:block;
	background-color: #b5ddf2;
  }

  ol > li > ul {
	display:none;
	list-style-type:none;
	padding:0;
	margin:0;
  }

  ol > li > ul > li {
	position:relative;
	background-color:#b5ddf2;
  }

  ol > li > ul > li > a {
	border-top:1px solid #FFF;
  }

  ol > li > ul > li:hover {
	background-color:#DDD;
  }


  ol > li > ul > li:hover > a {
	color:#000000;
	background-color: #aacfe2;
}
#container{
	width: 1090px;
	height: 720px;
	border-style: solid;
	border-width: 1px;
}
#bar{
	width: 1090px;
	height: 50px;
}
#list{
	width: 138px;
	height: 649px;
	float: left;
	overflow-y: scroll;
	border-style: solid;
	border-width: 1px;
}
#window{
	width: 872px;
	height: 649px;
	float: left;
	overflow-y: scroll;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
}
#word{
	width: 100%;
	height: 10%;
	font-size: 50px;
}
#definition{
	width: 50%;
	font-size: 22px;
	float: left;
}
#picture{
	width: 50%;
	height: 50%;
	float: left;
}
#related{
	width: 100%;
	height: 50%;
	font-size: 18px;
}
#alphabet{
	width: 30px;
	float: left;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}
#myInput{
	margin-left: 0px;
}
.przycisk{
	background-color: #FFFFFF;
	border: none;
	position: absolute;
	width: 75px;
	height: 50px;
}
.przycisk:hover
{
	background-color: #b5ddf2;
}
